
*{
    color: white;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
*:focus{
    outline: none;
}
body{
    background: black url('/images/Illustrations/Bathome1.png') 80% 20% no-repeat;
    background-size: cover;
    height: 901px;
    width: auto;
    font-size: 12px;
}

/* barre de navigation */
.nav{
    display: flex;
    margin: 0 10%;
    column-gap: 50%;
    justify-content: center;
}
.nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.nav a{
    transition: .5s all ease-in-out;
}
.homelogo img{
    margin-top: 10%;
}

/* texte introduction */
.intro-text{
    text-align: center;
    margin: 350px 10%;
}
.button a, .button3 a{
    padding: 7px 15px;
    margin: 0 1%;
    background-image: linear-gradient(to right, #EDDEBF, #890008);
    opacity: 40%;
    transition: .5s all ease-in-out;
}
.button a:hover{
    opacity: 100%;
}

/* barre de scroll */
.scroll{
    text-align: center;
    position: fixed;
    top: 40%;
    right: 3%;
}
.scroll img{
    width: 10vw;
    max-width: 100px;
}
.mediasoc img{
    display: block;
    margin: auto;
    padding: 10%;
    width: 3vw;
    max-width: 30px;
}
/* style fleche */
.flèche{
    text-align: center;
    margin: 25% 0 5% 0;
}
.flèche img{
    width: 5%;
}

/* style carte */
.warper{
    margin: 0 10%;
    text-align: justify;
}
.thebats{
    margin: 5% 10%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.thebats img{
    width: 90%;
    transition: .5s all ease-in-out;
}
.thebats img:hover{
    transform: scale(1.1);
}
/* style justice league */
.jl{
    margin: 0 15%;
    justify-content: center;
}
.jul img{
    width: 100%;
}
/* TRAILER */
#trailer{
    margin: 0 10%;
}
/* synopsis style */
.multi{
    display: flex;
    align-items: center;
    margin: 5% 0;
    column-gap: 2%;
}
.synopsis{
    display: flex;
    background: linear-gradient(to bottom right, #4a4a40, #081d2a);
    border-radius: 0 15px 15px 0;
}
.img2 img{
    height: 100%;
    max-height: 500px;
}
.text2{
    text-align: justify;
    margin: 0 2% 0 11%;
}
/* style formulaire */
form{
    background: linear-gradient(to bottom right, #4a4a40, #081d2a);
    padding: 5% 10%;
}

input, select{
    background: none;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 2%;
}
.button3{
    margin-top: 5%;
    text-align: center;
}
[value]{
    background: gray;
}
.button2{
    text-align: center;
}
.button2 a{
    padding: 7px 15px;
    margin: 0 3%;
    border: 2px solid;
    border-image: linear-gradient(to right, #EDDEBF, #19587D) 1;
}
/* citation */
.citation{
    margin: 5% 10%;
}
.text{
    text-align: center;
}
.gauche{
    text-align: left;
}
.droite{
    text-align: right;
}
/* point */
.rond{
    display: flex;
    justify-content: center;
}
.dot{
    margin: 0 2px;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    border: 2px solid rgb(103, 103, 207);
    align-items: center;
}
/* footer */
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1%;
}
.copyright img{
    width: 34px;
    height: 34px;
}

/* footer icons */
.credit{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1%;
}

/* fonts responsive */
@font-face {
    font-family: 'Titre H1';
    src: url(/fonts/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: 'Titre H2';
    src: url(/fonts/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family: 'Soustitre';
    src: url(/fonts/SpaceGrotesk-Regular.ttf);
}
.nav a, h1{
    font-family: 'Titre H1';
    font-size: 3em;
}
.button a, .button2 a, .button3 a{
    font-family: 'Titre H1';
    font-size: 1.6em;
}
p{
    font-family: 'Soustitre';
    font-size: 1.8em;
}

@media screen and (min-width: 0px){
    body{
        font-size: 6px;
    }
}
@media screen and (min-width: 320px){
    body{
        font-size: 6px;
    }
}
@media screen and (min-width: 320px){
    body{
        font-size: 8px;
    }
}
@media screen and (min-width: 540px){
    body{
        font-size: 10px;
    }
}
@media screen and (min-width: 900px){
    body{
        font-size: 11px;
    }
}
@media screen and (min-width: 1000px){
    body{
        font-size: 12px;
    }
}